# **Projeto calcular risco de portfólio de ações**

### Importando bibliotecas Python

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import yfinance as yf
import matplotlib.pyplot as plt

>Buscando ações na base de dados da Bolsa

In [5]:
busca_acoes = ['PETR4.SA', 'VALE3.SA', 'BBDC4.SA', 'RENT3.SA', 'BRFS3.SA','BOVA11.SA']
dataset2024 = pd.DataFrame()
for acao in busca_acoes:
    dataset2024[acao] = yf.download(acao, start= '2020-1-1')['Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

> Visualizando as ações no período requerido:

In [6]:
dataset2024

             PETR4.SA   VALE3.SA   BBDC4.SA   RENT3.SA   BRFS3.SA   BOVA11.SA
Date
2020-01-02  30.700001  54.330002  28.181818  49.619999  35.880001  114.239998
2020-01-03  30.450001  53.930000  28.181818  48.900002  35.939999  113.800003
2020-01-06  30.809999  53.610001  27.678436  48.330002  35.570000  112.589996
2020-01-07  30.690001  54.000000  27.197596  48.799999  35.160000  112.239998
2020-01-08  30.500000  54.009998  26.776859  48.560001  36.509998  111.949997
...               ...        ...        ...        ...        ...         ...
2024-01-15  38.580002  71.550003  15.870000  61.180000  13.130000  127.820000
2024-01-16  38.099998  70.620003  15.730000  60.279999  13.030000  125.489998
2024-01-17  37.880001  69.349998  15.760000  60.939999  12.570000  124.529999
2024-01-18  37.730000  69.000000  15.670000  59.360001  12.410000  123.559998
2024-01-19  37.529999  68.099998  15.640000  60.090000  13.000000  123.839996

[1007 rows x 6 columns]

> Renomeando colunas:

In [7]:
dataset2024 = dataset2024.rename(columns={'PETR4.SA': 'PETROBRAS', 'VALE3.SA': 'VALE', 'BBDC4.SA': 'BRADESCO', 'RENT3.SA': 'RENTACAR', 'BRFS3.SA': 'BRFOOD', 'BOVA11.SA': 'BOVA'})
dataset2024

            PETROBRAS       VALE   BRADESCO   RENTACAR     BRFOOD        BOVA
Date
2020-01-02  30.700001  54.330002  28.181818  49.619999  35.880001  114.239998
2020-01-03  30.450001  53.930000  28.181818  48.900002  35.939999  113.800003
2020-01-06  30.809999  53.610001  27.678436  48.330002  35.570000  112.589996
2020-01-07  30.690001  54.000000  27.197596  48.799999  35.160000  112.239998
2020-01-08  30.500000  54.009998  26.776859  48.560001  36.509998  111.949997
...               ...        ...        ...        ...        ...         ...
2024-01-15  38.580002  71.550003  15.870000  61.180000  13.130000  127.820000
2024-01-16  38.099998  70.620003  15.730000  60.279999  13.030000  125.489998
2024-01-17  37.880001  69.349998  15.760000  60.939999  12.570000  124.529999
2024-01-18  37.730000  69.000000  15.670000  59.360001  12.410000  123.559998
2024-01-19  37.529999  68.099998  15.640000  60.090000  13.000000  123.839996

[1007 rows x 6 columns]

> Verificando se há ações nulas:

In [8]:
dataset2024.isnull().sum()

PETROBRAS    0
VALE         0
BRADESCO     0
RENTACAR     0
BRFOOD       0
BOVA         0
dtype: int64

*Obs.: Não foram localizadas ações nulas!*
________________________________________________________________________________________________________________________________________________________________

> Salvando os dados em arquivo .csv

In [9]:
dataset2024.to_csv('acoes.csv')

> Lendo o arquivo 'acoes.csv'...

In [11]:
dataset2024 = pd.read_csv('acoes.csv')
dataset2024

,Date,PETROBRAS,VALE,BRADESCO,RENTACAR,BRFOOD,BOVA
0,2020-01-02,30.700001,54.330002,28.181818,49.619999,35.880001,114.239998
1,2020-01-03,30.450001,53.930000,28.181818,48.900002,35.939999,113.800003
2,2020-01-06,30.809999,53.610001,27.678436,48.330002,35.570000,112.589996
3,2020-01-07,30.690001,54.000000,27.197596,48.799999,35.160000,112.239998
4,2020-01-08,30.500000,54.009998,26.776859,48.560001,36.509998,111.949997
...,...,...,...,...,...,...,...
1002,2024-01-15,38.580002,71.550003,15.870000,61.180000,13.130000,127.820000
1003,2024-01-16,38.099998,70.620003,15.730000,60.279999,13.030000,125.489998
1004,2024-01-17,37.880001,69.349998,15.760000,60.939999,12.570000,124.529999
1005,2024-01-18,37.730000,69.000000,15.670000,59.360001,12.410000,123.559998
1006,2024-01-19,37.529999,68.099998,15.640000,60.090000,13.000000,123.839996

> Verificando a quantidade de registros:

In [12]:
dataset2024.shape

(1007, 7)